.primarycolor--color {
    color: #1650bb;
}

.primarycolor--background {
    background-color: #1650bb;
}

.secondcolor--color {
    color: #3667cc;
}

.secondcolor--background {
    background-color: #3667cc;
}

.thirdcolor--color {
    color: #7594ee;
}

.content--padding {
    padding: 80px;
}

.content--displayflex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}


.content--displaycolumn {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.content--marginleft {
    margin-left: -5vw;
}

.content--marginright {
    margin-right: -5vw;
}

.content--border {
    border: 2px solid rgba(0, 0, 0, 0.404);
}

.header {
    height: 8vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}

.header--fixed {
    position: fixed;
}

.section {
    width: 100vw;
    background-color: white;
    align-items: center;
    justify-content: center;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search--positionrelative {
    position: relative;
}

.search--header {
    height: 4vh;
    width: 30vw;
}

.search--newsletter {
    height: 5vh;
    width: 20vw;
}

.search__input {
    padding-left: 40px;
    height: 100%;
    width: 100%;
    border: none;
    background-color: white;
    color: black;
    font-size: 16px;
    outline: none;
    border-radius: 2px;
}

.search__icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

.menu {
    height: 5vh;
    width: 35vw;
}

.menu__nav {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu__list {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.menu__list__item {
    padding: 0 3vw 0 3vw;
    font-size: 1.3vw;
    transition: font-size 0.3s ease;
}

.menu__list__item:hover {
    font-size: 1.5vw;
}

.menu__item__link {
    text-decoration: none;
    color: white;
}

.button {
    display: 'flex';
    align-items: 'center';
    justify-content: 'center';
    border-radius: 2px;
    border: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1.1vw;
    background-color: #3667cc;
    transition: font-size 0.3s ease, background-color 0.3s ease;
}

.button__text,
.button__icon {
    color: white;
}

.button__icon {
    margin-right: 0.5rem;
}

.button:hover {
    font-size: 1.2vw;
    background-color: #7594ee;
}

.button--link {
    text-decoration: none;
}


.title {
    width: 100%;
    height: auto;
}


.title__text {
    font-size: 2.8vw;
}

.text {
    width: 100%;
    height: auto;
}


.text__content {
    font-size: 1.2vw;
}

.banner {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
}

.image {
    padding: 50px;
    cursor: pointer;
    margin: 0 -10vw 0 -10vw;
    transition: transform 0.3s ease;
}

.imagem--border {
    border: 2px solid rgba(0, 0, 0, 0.226);
}

.image:hover {
    transform: scale(1.1);
}

.slider {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}

.slider>* {
    margin: 0 -10vw 0 -10vw;
}

.slider__iconleft {
    font-size: 5vw;
}

.slider__iconright {
    font-size: 5vw;
}

.newsletter {
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: row;
}

.newsletter__text,
.newsletter__subscribe {
    height: 100%;
    width: 40%;
}

.newsletter__text__text {
    width: 80%;
}

.newsletter__text {
    align-items: start;
    justify-content: center;
    padding-left: 5vw;
}

.newsletter__subscribe {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
}

.newsletter__text--margintop {
    margin-top: -3vh;
}

.products {
    justify-content: space-evenly;
    width: inherit;
    height: inherit;
}

.products__principal {
    width: 40%;
    height: 80%;
}

.products__others {
    width: 60%;
    height: 80%;
}

.products__others__left {
    width: 50%;
    height: 80%;
}

.products__others__right {
    width: 50%;
    height: 80%;
}

.product {
    width: -webkit-fill-available;
    height: auto;
    margin-left: -5vw;
}

.product__infos {
    width: 50%;
    height: auto;
}

.product__rate {
    width: 50%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: -15vw;
}

.product__infos__text--margin {
    margin-top: -3vh;
}

.product--font {
    font-size: 1vw;
}

.about {
    justify-content: center;
    text-align: center;
    width: 80%;
    margin-top: 3vh;
}


.footer {
    height: 35vh;
    width: 100vw;
    justify-content: space-around;
}

.footer__infos {
    width: 40%;
    height: inherit;
    justify-content: center;
    margin-left: -10vw;
}

.footer__infos__text {
    margin-top: -5vh;
    width: 45%;
}

.footer__finduson,
.footer__discover,
.footer__company,
.footer__mainmenu {
    width: 15%;
    height: inherit;
    justify-content: center;
    align-items: flex-start;
}

.footer__title {
    font-size: medium;
    color: white;
}

.footer__text {
    color: white;
    margin: 0.5vh 0 0.5vh 0;
}

.footer__link {
    text-decoration: none;
}

.footer__infos__image {
    height: 10vh;
    width: 7vw;
}

.footer__company__name {
    width: 100%;
    margin-top: -5px;
}

.footer__company__name__text {
    font-size: 1.2vw;
    color: white;
    margin-left: 3vw;
    margin-top: 2vh;
}

.product__infos__name {
    font-size: 1.5vw;
}