.menu__mobile-icon {
    display: none;
    font-size: 1.5em;
    cursor: pointer;
}

@media (max-width: 780px) {
    .menu {
        width: auto;
        float: right;
        color: white;
    }

    .menu__list {
        height: 100vh;
        display: none;
        position: absolute;
        top: 70%;
        left: 0;
        background-color: #3667cc;
        width: 100%;
        text-align: center;
        z-index: 3;
        margin-left: -9.8vw;
    }

    .menu__list.show {
        display: flex;
        flex-direction: column;
    }


    .menu__list__item {
        padding: 5vw;
        font-size: 5vw;
        transition: font-size 0.3s ease;
        border-bottom: 1px solid white;
    }

    .menu__list__item:hover {
        font-size: 1.5vw;
    }

    .menu__item__link {
        text-decoration: none;
        color: white;
    }


    .menu__mobile-icon {
        display: block;
    }

    .header__button {
        display: none;
    }

    .title__text {
        font-size: 4vw;
    }

    .image {
        padding: 20px;
    }

    .button__text {
        font-size: 3vw;
    }
}